html,body {
    margin : 0%;
    height : 100%;
    background-color: white;
}
.topRectangle {
    background-color: rgba(10, 60, 213, 0.82);
    width : 100%;
    height : 9%;
}
.material-symbols-outlined {
    color : white;
    position : absolute;
    left : 0.8%;
    top : 2%;
}
.symbols-outlined {
    width : 3.8%;
    height : 100%;
}
.symbols-outlined:hover {
    background-color : rgba(22, 45, 156, 0.82);
    cursor : pointer;
}
.toDoAlign {
    margin : -2.8% 0% 0% 4%;
    font-family : 'Poppins', sans-serif;
    color : white;
}
.toDo:hover {
    text-decoration : underline;
    cursor : pointer;
}
.whiteRectangle {
    background-color : white;
    width : 31%;
    margin : -1.8% 0% 0% 31%;
    height : 64%;
}
.search {
    transform: rotate(-275deg);
    position : absolute;
    left : 33%;
    top: 2.4%;
}
.search-icon-color {
    color: #7683e9;
}
.leftRectangle {
    background-color : lightgray;
    width : 25%;
    height : 32.74em;
    margin-top : 0.58%;
}
.fontAlign {
    position : absolute;
    top : 25%;
    left : 2%;
}
.fontAlign:hover {
    background-color: lightgray;
}
.task {
    margin : 9% 0% 0% 45%;
}
.boxWidth {
    position: absolute;
    width : 62%;
    height : 3.7em;
    left : 27%;
    top : 42%;
}
.submitButton {
    position : absolute;
    width : 7%;
    left : 91%;
    top : 42%;
    height : 10%;
    background-color : rgb(226, 224, 224);
    border-radius : 55%;
}
.submitButton:hover {
    background-color: rgb(168, 166, 166);
}
.addTask {
    background-color : whitesmoke;
    height : 33px;
    text-align : center;
    margin-top : 1.8%;
}
.taskBackground {
    background-color : transparent;
    position : absolute;
    width : 62.5%;
    top : 56%;
    left : 27.3%;
    height : 43.6%;
    overflow : auto;
}
.removeButton{
    margin-left : 91%;
    position : relative;
    top : -66%;
}
#checkBox {
    position : relative;
    right : 46%;
    top : -133%;
    margin-left : 2%;
}
#pendingTask {
    height : 100%;
}
#specifyTask {
    max-height : 49%;
}
#pendingTaskHeight {
    min-height : 0%;
}
.editButtonAlign {
    left : 35%;
    position : relative;
    top : -133%;
}
.taskvalueAlign {
    margin-top : 0.7%;
}
.alertDivAlign {
    background-color : rgb(237, 233, 233);
    width : 30%;
    height : 24%;
    position : fixed;
    left : 38%;
}
.alertMessage {
    top : 15%;
    position : absolute;
    left : 22%;
}
.okButtonAlign {
    width : 8%;
    height : 14%;
    margin-top : 21%;
    margin-left : -64%;
}
.cancelButtonAlign {
    width : 14%;
    height : 14%;
    margin-top : 21%;
    margin-left : 68%;
}
.inputSearchText {
    width : 24%;
    height : 3%;
    position : absolute;
    left : 34%;
    top : 3%;
}
.searchDiv {
    background-color : white;
    position : absolute;
    width : 75%;
    height : 91%;
    top : 9%;
    left : 25%;
}
